[submodule "vendor/lightopenid"]
	path = vendor/lightopenid
	url = git://gitorious.org/lightopenid/lightopenid.git
[submodule "vendor/http"]
	path = vendor/http
	url = git://github.com/phpfour/http.git
[submodule "vendor/facebook-php-sdk"]
	path = vendor/facebook-php-sdk
	url = git://github.com/facebook/facebook-php-sdk.git
